.git*
*

!.local
!.local/scripts/rscript
!.local/share/
!.local/share/bin
!.local/share/bin/**/*

!.config/
!.config/alacritty
!.config/alacritty/**/*
!.config/hypr
!.config/hypr/**/*
!.config/hyprpanel
!.config/hyprpanel/**/*
!.config/kitty
!.config/kitty/**/*
!.config/nvim
!.config/nvim/**/*
!.config/qutebrowser
!.config/qutebrowser/**/*
!.config/rofi
!.config/rofi/**/*
!.config/waybar
!.config/waybar/**/*
!.config/waylock
!.config/waylock/**/*
!.config/wlogout
!.config/wlogout/**/*
!.config/zellij
!.config/zellij/**/*
!.config/swaylock
!.config/swaylock/**/*
!.config/lazygit
!.config/lazygit/**/*

!.gitaliases
!.gitconfig
!.gitignore
!.gitmodules
!.gitprofile
!.p10k.zsh
!.tmux.conf
!.wezterm.lua
!.zsh_aliases
!.zshrc
!installer.sh
