.git*
*

!.config/alacritty/alacritty.yml
!.config/hypr
!.config/kitty
!.config/nvim
!.config/qutebrowser
!.config/waybar
!.config/zellij
!.gitaliases
!.gitconfig
!.gitignore
!.gitmodules
!.gitprofile
!.local/bin/tdrop
!.local/scripts/rscript
!.p10k.zsh
!.tmux.conf
!.wezterm.lua
!.zsh_aliases
!.zshrc
!installer.sh
