// layout {
//     //pane size=1 borderless=true {
//     //    plugin location="zellij:tab-bar"
//     //}
// 
// 
// 
//     pane command="zsh" close_on_exit=true
// 
// }

layout {
    default_tab_template {
        pane size=2 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left   "{mode}"
                format_center "{tabs}"
                format_right  "{command_git_branch} {datetime}"
                format_space  ""

                border_enabled  "true"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "bottom"

                //hide_frame_for_single_pane "true"

                tab_normal   "#[bg=#F78C6C,fg=#181A1F] {name} "
                tab_active   "#[bg=#ffcb6b,fg=#cccce6,bold,italic] {name} "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[bg=#8cb8ff,fg=#181A1F] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#cccce6,bold] {format} "
                datetime_format "%A, %d %b %Y %T"
                //datetime_format "%A, %m/%d/%Y %T"
                datetime_timezone "Europe/Madrid"

                // tab_normal             #F78C6C #8a8a8a "#[fg=#6C7086]  {index} :: {name} "
                tab_normal              "#[bg=#8a8a8a,fg=#181A1F] Tab {index}{floating_indicator} "
                tab_normal_fullscreen   "#[bg=#8a8a8a,fg=#181A1F] Tab {index}{fullscreen_indicator} "
                tab_normal_sync         "#[bg=#8a8a8a,fg=#181A1F] Tab {index}{sync_indicator} "

                // formatting for the current active tab
                tab_active              "#[bg=#ffcb6b,fg=#181A1F,bold,italic] Tab {index}{floating_indicator} "
                tab_active_fullscreen   "#[bg=#ffcb6b,fg=#181A1F,bold,italic] Tab {index}{fullscreen_indicator} "
                tab_active_sync         "#[bg=#ffcb6b,fg=#181A1F,bold,italic] Tab {index}{sync_indicator} "

                // separator between the tabs
                tab_separator           "#[fg=#6C7086,bg=#181825] | "

                // indicators
                tab_sync_indicator       " <s>"
                tab_fullscreen_indicator ""
                tab_floating_indicator   ""

                mode_normal        "#[bg=#8cb8ff,fg=#181A1F] NORMAL "
                mode_pane          "#[bg=#ffcb6b,fg=#181A1F]  PANE  "
                mode_tab           "#[bg=#d67cde,fg=#181A1F]  TAB   "
                mode_tmux          "#[bg=#C3E88D,fg=#181A1F]  TMUX  "

                mode_locked        "#[bg=#89B4FA,fg=#181A1F] {name} "
                mode_resize        "#[bg=#89B4FA,fg=#181A1F] {name} "
                mode_scroll        "#[bg=#89B4FA,fg=#181A1F] {name} "
                mode_enter_search  "#[bg=#89B4FA,fg=#181A1F] {name} "
                mode_search        "#[bg=#89B4FA,fg=#181A1F] {name} "
                mode_session       "#[bg=#89B4FA,fg=#181A1F] {name} "
                mode_move          "#[bg=#89B4FA,fg=#181A1F] {name} "
                mode_prompt        "#[bg=#89B4FA,fg=#181A1F] {name} "
            }
        }
        children 
        // pane size=1 borderless=true {
        //     plugin location="tab-bar"
        // }
    }
    //pane size=2 borderless=true {
    //    plugin location="status-bar"
   // }
}
