// layout {
//     //pane size=1 borderless=true {
//     //    plugin location="zellij:tab-bar"
//     //}
//
//
//
//     pane command="zsh" close_on_exit=true
//
// }

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode} {tabs}"
                format_center ""
                format_right  "{datetime}"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#8a87de]{char}"
                border_position "bottom"

                datetime        "#[bg=#8cb8ff,fg=#1c1d24] {format} "
                datetime_format "%A, %d %b %Y %T"
                datetime_timezone "Europe/Madrid"
                hide_frame_for_single_pane "false"

                tab_normal              "#[fg=#8a8a8a,bg=#1c1d24]{index} {name}{floating_indicator} "
                tab_normal_fullscreen   "#[fg=#8a8a8a,bg=#1c1d24]{index} {name}{fullscreen_indicator} "
                tab_normal_sync         "#[fg=#8a8a8a,bg=#1c1d24]{index} {name}{sync_indicator} "

                // formatting for the current active tab
                tab_active              "#[fg=#cccce6,bg=#1c1d24,bold,italic]{index} {name}{floating_indicator} "
                tab_active_fullscreen   "#[fg=#cccce6,bg=#1c1d24,bold,italic]{index} {name}{fullscreen_indicator} "
                tab_active_sync         "#[fg=#cccce6,bg=#1c1d24,bold,italic]{index} {name}{sync_indicator} "

                // separator between the tabs
                tab_separator           "#[fg=#6C7086,bg=#1c1d24] | "

                // indicators
                tab_sync_indicator       " <s>"
                tab_fullscreen_indicator ""
                tab_floating_indicator   ""

                mode_normal        "#[fg=#8cb8ff,bg=#1c1d24]█   NORMAL   "
                mode_pane          "#[fg=#ffcb6b,bg=#1c1d24]█    PANE    "
                mode_tab           "#[fg=#d67cde,bg=#1c1d24]█    TAB     "
                mode_tmux          "#[fg=#C3E88D,bg=#1c1d24]█    TMUX    "

                mode_locked        "#[bg=#89B4FA,fg=#1c1d24]█ {name} "
                mode_resize        "#[bg=#89B4FA,fg=#1c1d24]█ {name} "
                mode_scroll        "#[bg=#89B4FA,fg=#1c1d24]█ {name} "
                mode_enter_search  "#[bg=#89B4FA,fg=#1c1d24]█ {name} "
                mode_search        "#[bg=#89B4FA,fg=#1c1d24]█ {name} "
                mode_session       "#[bg=#89B4FA,fg=#1c1d24]█ {name} "
                mode_move          "#[bg=#89B4FA,fg=#1c1d24]█ {name} "
                mode_prompt        "#[bg=#89B4FA,fg=#1c1d24]█ {name} "
            }
        }
        // pane size=1 borderless=true {
        //     plugin location="tab-bar"
        // }
        children
    }
    //pane size=2 borderless=true {
    //    plugin location="status-bar"
   // }
}
